## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [2]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [3]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)

In [4]:
# Swap the highest and the lowest temperatures
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

In [5]:
# Print the output list
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [6]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
n=10
# N=prod_price_list[0]+prod_price_list[1]+prod_price_list[2]+prod_price_list[3]+prod_price_list[4]+prod_price_list[5]+prod_price_list[6]+prod_price_list[7]+prod_price_list[8]+prod_price_list[9]
# sum(prod_price_list)

In [7]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

### Calculate the median price

In [8]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [9]:
# Check if the number of elements in the list is even or odd
len(sorted_prices)%2==0

True

In [10]:
# Use the corresponding formula to calculate the median and print the median
median_price = [len(sorted_prices)/2,len(sorted_prices)/2+1]
int(median_price[0])

5

In [11]:
# Check which is greater, mean or median
sorted_prices[int(median_price[1])]>mean_price

False

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :  the sum of the number is even so I considered the greater number to compare between mean and median prices. And median is greater than mean.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [12]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
temp = tech_companies.pop()
# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [13]:
# Write your code below
tech_companies.extend(temp)

In [14]:
# Do the same task another way
tech_companies[3] = temp[0]
tech_companies[4] = temp[1]
tech_companies[5] = temp[2]
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']